<!DOCTYPE html>
<html>
<head>
	<title>Commit Strip</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.21/css/uikit.min.css" />
</head>
<body>
	<nav class="uk-navbar-container uk-margin" uk-navbar>
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="{{ path('commit_strip_homepage')}}">
				<h1 class="uk-heading-primary">Commit Strip</h1>
			</a>
		</div>
	</nav>	
	{% block body%}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.21/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.21/js/uikit-icons.min.js"></script>
</body>
</html>